[Desktop Entry]
Name=PETSCII
Comment=Marq's PETSCII editor
Exec=/usr/bin/petscii
Icon=/usr/share/pixmaps/petscii.xpm
Terminal=false
Type=Application
Categories=Graphics;2DGraphics
